[Unit]
Description=Fix permissions before apps start
Requires=var-mnt-data.mount
After=var-mnt-data.mount
Before=multi-user.target default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -c ' \
    mkdir -p /var/mnt/data/evcc && \
    chown -R core:core /var/home/core /var/mnt/data/evcc \
'

[Install]
WantedBy=multi-user.target default.target