[Unit]
Description=tailscale
After=network-online.target

[Container]
AddCapability=NET_ADMIN
AddCapability=NET_RAW
AutoUpdate=registry
ContainerName=tailscale
EnvironmentFile=/var/mnt/data/tailscale.env
Image=docker.io/tailscale/tailscale:latest
Network=host
Volume=/dev/net/tun:/dev/net/tun
Volume=/var/lib:/var/lib

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target