[Unit]
Description=evcc

[Container]
AutoUpdate=registry
ContainerName=evcc
Image=docker.io/evcc/evcc:latest
Network=host
SecurityLabelDisable=true
Volume=/etc/localtime:/etc/localtime:ro
Volume=/var/mnt/data/evcc:/root/.evcc

[Service]
ExecStartPre=mkdir -p /var/mnt/data/evcc
Restart=always

[Install]
WantedBy=multi-user.target default.target